table, th , td {
    border: 1.5px solid grey;
    border-collapse: collapse;
    padding: 5px;
  }
  
  table tr:nth-child(odd) {
    background-color: #f1f1f1;
  }
  
  table tr:nth-child(even) {
    background-color: #ffffff;
  }

  .heading {
      font-weight: bold;
      border-bottom: 2px solid black;
  }